:root {
  --black-0: #000000;
  --black-1: #1f1f22;
  --grey-0: #d4cfc4;
  --white-0: #f9f8f9;
  --white-1: #ffffff;
  --primary-font-medium: "polysans-one", sans-serif;
  --primary-font-bold: "polysans-one", sans-serif;
  --heading-font-italic-bold: "polysans-two", sans-serif;
  --heading-font-italic-medium: "polysans-four", sans-serif; }

@font-face {
  font-family: "polysans-one";
  src: url(fonts/polysans-one.woff2) format("woff2"); }

@font-face {
  font-family: "polysans-two";
  src: url(fonts/polysans-two.woff2) format("woff2"); }

@font-face {
  font-family: "polysans-three";
  src: url(fonts/polysans-three.woff2) format("woff2"); }

@font-face {
  font-family: "polysans-four";
  src: url(fonts/polysans-four.woff2) format("woff2"); }

@keyframes moveDiagonal {
  from {
    transform: translate3d(0, 0, 0);
    /* Start from bottom-left corner */ }
  to {
    transform: translate3d(75%, -75%, 0);
    /* Move to top-right corner */ } }

/* Animation delay for each character */
@keyframes charAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--grey-0); }

.primary-site {
  padding: 4rem;
  width: 100%;
  max-width: 180rem;
  margin-inline: auto; }

.italicBold {
  font-family: var(--heading-font-italic-bold); }

.svgSize {
  height: 2.8rem;
  width: 2.8rem;
  padding-bottom: 6px; }

.hovered {
  opacity: 0.5; }

.zeroOpacity {
  opacity: 0; }

.about {
  height: 100%;
  padding: 12rem 0 8rem 0; }
  .about .aboutContainer {
    display: flex;
    justify-content: space-between; }
    .about .aboutContainer .aboutBox {
      position: relative;
      width: 60%; }
      .about .aboutContainer .aboutBox .headingContainer {
        position: relative;
        z-index: 1000; }
        .about .aboutContainer .aboutBox .headingContainer .introHeading {
          font-family: var(--primary-font-bold);
          font-size: 4rem;
          line-height: 1.2; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introRegister {
            position: relative;
            display: inline; }
            .about .aboutContainer .aboutBox .headingContainer .introHeading .introRegister div {
              font-size: 1.6rem;
              display: inline;
              position: absolute;
              top: -12px;
              left: -1px; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introStar {
            opacity: 0.7;
            font-weight: 500; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .at {
            font-family: var(--primary-font-medium);
            font-weight: 500; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink {
            text-decoration: none;
            color: var(--black-0);
            font-size: 4rem;
            position: relative;
            overflow: hidden; }
            .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink .linkContainer {
              display: inline-flex;
              gap: 8px; }
              .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink .linkContainer svg {
                height: 2rem;
                width: 2rem; }
              .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink .linkContainer .svgBox1 {
                display: block;
                /* Show svgBox1 initially */ }
              .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink .linkContainer .svgBox2 {
                position: absolute;
                bottom: -38px;
                right: 20px; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            transform: scaleX(1);
            transform-origin: bottom left;
            height: 4px;
            background-color: var(--black-0);
            display: block;
            transition: transform 0.3s ease-out; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink:hover::after {
            transform: scaleX(0);
            transform-origin: bottom right; }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink:hover .linkContainer .svgBox1 {
            display: none !important;
            /* Hide svgBox1 on hover */ }
          .about .aboutContainer .aboutBox .headingContainer .introHeading .introLink:hover .linkContainer .svgBox2 {
            display: block;
            /* Show svgBox2 on hover */
            animation: moveDiagonal 0.3s ease-out forwards; }
      .about .aboutContainer .aboutBox .contentContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 12vw;
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5; }
        .about .aboutContainer .aboutBox .contentContainer .contentBox {
          width: 30rem;
          display: flex;
          flex-direction: column;
          gap: 4rem; }
          .about .aboutContainer .aboutBox .contentContainer .contentBox .para {
            font-family: var(--primary-font-medium);
            font-size: 1.4rem; }
        .about .aboutContainer .aboutBox .contentContainer .shortDescBox {
          font-family: var(--primary-font-medium);
          font-size: 1.4rem;
          display: flex;
          gap: 8px;
          align-items: center;
          width: 30rem; }
          .about .aboutContainer .aboutBox .contentContainer .shortDescBox .starBox {
            display: flex;
            align-items: center; }
            .about .aboutContainer .aboutBox .contentContainer .shortDescBox .starBox span {
              font-size: 4rem !important;
              margin-top: 7px; }
  .about .photoContainer {
    position: relative;
    height: 94vh;
    width: 46rem;
    overflow: hidden; }
    .about .photoContainer .image1Box,
    .about .photoContainer .image2Box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: transform 0.8s cubic-bezier(1, -0.04, 0.52, 0.35); }
      .about .photoContainer .image1Box .image,
      .about .photoContainer .image2Box .image {
        width: 100%;
        object-fit: cover; }
    .about .photoContainer:hover .image2Box {
      transform: translateY(-100%); }

.footer {
  padding-top: 6rem; }
  .footer .footerContainer .footerHeadingBox {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footerContainer .footerHeadingBox .headingText {
      font-family: var(--primary-font-bold);
      font-size: 14rem;
      line-height: 0.9; }
  .footer .footerContainer .footerContactBox {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0 6rem 0; }
    .footer .footerContainer .footerContactBox .rotatingAnimationBox {
      display: block;
      width: 100%;
      background: var(--main-color);
      position: relative; }
      .footer .footerContainer .footerContactBox .rotatingAnimationBox .circular-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0; }
        .footer .footerContainer .footerContactBox .rotatingAnimationBox .circular-text #rotated {
          font-family: var(--primary-font-medium);
          font-size: 1.6rem; }
        .footer .footerContainer .footerContactBox .rotatingAnimationBox .circular-text .dot {
          display: block;
          width: 50px;
          height: 50px;
          position: absolute; }
    .footer .footerContainer .footerContactBox .emailBox .emailContent .emailLink {
      display: inline-flex;
      text-decoration: none;
      color: var(--black-0);
      align-items: flex-end;
      gap: 8px;
      position: relative; }
      .footer .footerContainer .footerContactBox .emailBox .emailContent .emailLink .svgBox {
        width: 20%; }
      .footer .footerContainer .footerContactBox .emailBox .emailContent .emailLink .email {
        font-family: var(--primary-font-bold);
        font-size: 4rem;
        font-weight: 600; }
    .footer .footerContainer .footerContactBox .emailBox .emailContent .emailLink::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      transform: scaleX(1);
      transform-origin: bottom left;
      height: 4px;
      background-color: var(--black-0);
      display: block;
      transition: transform 0.3s ease-out; }
    .footer .footerContainer .footerContactBox .emailBox .emailContent .emailLink:hover::after {
      transform: scaleX(0);
      transform-origin: bottom right; }
  .footer .footerContainer .footerContactLinkBox {
    padding-top: 8rem; }
    .footer .footerContainer .footerContactLinkBox .socialList {
      list-style: none;
      font-family: var(--primary-font-medium);
      font-size: 1.9rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between; }
      .footer .footerContainer .footerContactLinkBox .socialList .socailItem .socialItemBox .socialItemLink {
        text-decoration: none;
        color: var(--black-0);
        position: relative;
        text-shadow: none;
        transition: text-shadow 0.3s ease-in-out; }
        .footer .footerContainer .footerContactLinkBox .socialList .socailItem .socialItemBox .socialItemLink:hover {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
        .footer .footerContainer .footerContactLinkBox .socialList .socailItem .socialItemBox .socialItemLink::after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: bottom right;
          height: 2px;
          background-color: var(--black-0);
          display: block;
          transition: transform 0.3s ease-out; }
        .footer .footerContainer .footerContactLinkBox .socialList .socailItem .socialItemBox .socialItemLink:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 3.4rem 4rem 0 4rem;
  display: block;
  z-index: 10000000; }
  .header .nav .navList {
    list-style: none;
    font-family: var(--primary-font-medium);
    font-size: 1.9rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between; }
    .header .nav .navList .navItem .navItemBox .navItemLink {
      text-decoration: none;
      color: var(--black-0);
      position: relative;
      text-shadow: none;
      transition: text-shadow 0.3s ease-in-out; }
      .header .nav .navList .navItem .navItemBox .navItemLink:hover {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
      .header .nav .navList .navItem .navItemBox .navItemLink::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: bottom right;
        height: 2px;
        background-color: var(--black-0);
        display: block;
        transition: transform 0.3s ease-out; }
      .header .nav .navList .navItem .navItemBox .navItemLink:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .header .nav .navList .navItem .navItemBox .navItemLink.active::after {
        transform: scaleX(1);
        transform-origin: bottom left; }

.hero {
  height: 85vh;
  margin-bottom: 12rem; }
  .hero .heroContainer {
    height: 100%;
    position: relative; }
    .hero .heroContainer .iconBoxHero {
      position: absolute;
      top: 40%;
      left: 70%;
      transform: translate(-50%, -50%); }
    .hero .heroContainer .heroHeaderBox {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .hero .heroContainer .heroHeaderBox .heroHeading .line {
        overflow: hidden;
        margin-top: -24px; }
      .hero .heroContainer .heroHeaderBox .heroHeading .char {
        transition: all 0.3s;
        transform-style: preserve-3d;
        padding-bottom: 24px;
        opacity: 0;
        visibility: hidden; }
      .hero .heroContainer .heroHeaderBox .heroHeading .headingText {
        font-family: var(--primary-font-bold);
        font-size: 14rem;
        font-style: normal;
        line-height: 0.95;
        position: relative; }
        .hero .heroContainer .heroHeaderBox .heroHeading .headingText .line:nth-of-type(2) .word:nth-of-type(2) {
          font-family: var(--heading-font-italic-bold); }
        .hero .heroContainer .heroHeaderBox .heroHeading .headingText .register {
          display: inline-block;
          position: absolute;
          bottom: 74px;
          right: 30px;
          font-size: 3rem; }
          .hero .heroContainer .heroHeaderBox .heroHeading .headingText .register .char {
            padding-bottom: 0; }
      .hero .heroContainer .heroHeaderBox .heroCopyrightBox .copyrightText {
        font-family: var(--primary-font-medium);
        font-size: 1.8rem; }

.work {
  padding: 8rem 0 12rem 0; }
  .work .workContainer .workList .item {
    list-style: none; }
    .work .workContainer .workList .item .itemLink {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: var(--black-0);
      position: relative;
      padding: 3.8rem 0; }
      .work .workContainer .workList .item .itemLink .headingBox {
        width: 50%;
        overflow: hidden; }
        .work .workContainer .workList .item .itemLink .headingBox .headingText {
          font-size: 4rem;
          position: relative; }
          .work .workContainer .workList .item .itemLink .headingBox .headingText .headingDefault {
            display: inline-block;
            font-family: var(--primary-font-bold);
            transition: transform 0.5s cubic-bezier(0.86, 0.05, 0.38, 0.38); }
          .work .workContainer .workList .item .itemLink .headingBox .headingText .headingHover {
            font-family: var(--heading-font-italic-bold);
            position: absolute !important;
            left: 0;
            bottom: -50px;
            transition: transform 0.5s cubic-bezier(0.86, 0.05, 0.38, 0.38); }
      .work .workContainer .workList .item .itemLink .rightCategoryContainer {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        transition: transform 0.5s cubic-bezier(0.86, 0.05, 0.38, 0.38); }
        .work .workContainer .workList .item .itemLink .rightCategoryContainer .workCategories .categoryBox .categoryList {
          display: flex;
          font-family: var(--primary-font-bold);
          font-size: 1.8rem; }
          .work .workContainer .workList .item .itemLink .rightCategoryContainer .workCategories .categoryBox .categoryList .listItem {
            list-style: none; }
          .work .workContainer .workList .item .itemLink .rightCategoryContainer .workCategories .categoryBox .categoryList .listItem:not(:last-child)::after {
            content: "/"; }
        .work .workContainer .workList .item .itemLink .rightCategoryContainer .workPlatform .platformBox .platformName {
          font-family: var(--primary-font-bold);
          font-size: 1.8rem; }
      .work .workContainer .workList .item .itemLink .svgContainer {
        display: none; }
        .work .workContainer .workList .item .itemLink .svgContainer .svgBox svg {
          height: 2rem;
          width: 2rem; }
      .work .workContainer .workList .item .itemLink .borderBottom {
        border-bottom: 2px solid var(--black-0);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.2s cubic-bezier(0.86, 0.05, 0.38, 0.38); }
    .work .workContainer .workList .item:hover .headingDefault {
      transform: translateY(-100%); }
    .work .workContainer .workList .item:hover .headingHover {
      transform: translateY(-100%); }
    .work .workContainer .workList .item:hover .rightCategoryContainer {
      transform: translateX(-8rem); }
    .work .workContainer .workList .item:hover .borderBottom {
      border-bottom: 4px solid var(--black-0); }
