.about {
  height: 100%;
  padding: 12rem 0 8rem 0;

  .aboutContainer {
    display: flex;
    justify-content: space-between;

    .aboutBox {
      position: relative;
      width: 60%;

      .headingContainer {
        position: relative;
        z-index: 1000;

        .introHeading {
          font-family: var(--primary-font-bold);
          font-size: 4rem;
          line-height: 1.2;

          .line {
            // clip-path: polygon(0 0, 100% 0, 100% 120%, 0% 120%);
          }

          .word {
            // transform: translateY(6rem) scaleY(0);
            // opacity: 0;
          }

          .introRegister {
            position: relative;
            display: inline;

            div {
              font-size: 1.6rem;
              display: inline;
              position: absolute;
              top: -12px;
              left: -1px;
            }
          }

          .introStar {
            opacity: 0.7;
            font-weight: 500;
          }

          .at {
            font-family: var(--primary-font-medium);
            font-weight: 500;
          }

          .introLink {
            text-decoration: none;
            color: var(--black-0);
            font-size: 4rem;
            position: relative;
            //   border-bottom: 4px solid black;

            .linkContainer {
              display: inline-flex;
              gap: 8px;

              svg {
                height: 2rem;
                width: 2rem;
              }

              .svgBox1 {
                display: block; /* Show svgBox1 initially */
              }

              .svgBox2 {
                position: absolute;
                bottom: 0;
                right: -26px;
                display: none; /* Hide svgBox2 initially */
              }
            }
          }

          .introLink::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            transform: scaleX(1);
            transform-origin: bottom left;
            height: 4px;
            background-color: var(--black-0);
            display: block;
            transition: transform 0.3s ease-out;
          }

          .introLink:hover::after {
            transform: scaleX(0);
            transform-origin: bottom right;
          }

          .introLink:hover .linkContainer .svgBox1 {
            display: none; /* Hide svgBox1 on hover */
          }

          .introLink:hover .linkContainer .svgBox2 {
            display: block; /* Show svgBox2 on hover */
            animation: moveDiagonal 0.3s ease-out forwards;
          }
        }
      }

      .contentContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 12vw;
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;

        .contentBox {
          width: 30rem;
          display: flex;
          flex-direction: column;
          gap: 4rem;

          .para {
            font-family: var(--primary-font-medium);
            font-size: 1.4rem;
          }
        }

        .shortDescBox {
          font-family: var(--primary-font-medium);
          font-size: 1.4rem;
          display: flex;
          gap: 8px;
          align-items: center;
          width: 30rem;

          .starBox {
            display: flex;
            align-items: center;

            span {
              font-size: 4rem !important;
              margin-top: 7px;
            }
          }

          .shortDesc {
            p {
            }
          }
        }
      }
    }
  }

  .photoContainer {
    position: relative;
    height: 94vh;
    width: 46rem;
    overflow: hidden;

    .image1Box,
    .image2Box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: transform 0.8s cubic-bezier(1, -0.04, 0.52, 0.35);

      .image {
        width: 100%;
        object-fit: cover;
      }
    }

    &:hover .image2Box {
      transform: translateY(-100%);
    }
  }
}
