.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 3.4rem 4rem 0 4rem;
  display: block;
  z-index: 10000000;

  .nav {
    .navList {
      list-style: none;
      font-family: var(--primary-font-medium);
      font-size: 1.9rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;

      .navItem {
        .navItemBox {
          .navItemLink {
            text-decoration: none;
            color: var(--black-0);
            position: relative;
            text-shadow: none;
            transition: text-shadow 0.3s ease-in-out;

            &:hover {
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            }

            &::after {
              content: " ";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              transform: scaleX(0);
              transform-origin: bottom right;
              height: 2px;
              background-color: var(--black-0);
              display: block;
              transition: transform 0.3s ease-out;
            }

            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }

            span {
              .navItemName {
              }
            }
          }
        }
      }
    }
  }
}
