.hero {
  height: 85vh;
  margin-bottom: 12rem;

  .heroContainer {
    height: 100%;
    position: relative;

    .iconBoxHero {
      position: absolute;
      top: 40%;
      left: 70%;
      transform: translate(-50%, -50%);
    }

    .heroHeaderBox {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .heroHeading {
        .line {
          overflow: hidden;
          margin-top: -24px;
        }

        .char {
          transition: all 0.3s;
          transform-style: preserve-3d;
          padding-bottom: 24px;
          opacity: 0;
          visibility: hidden;
        }

        .headingText {
          font-family: var(--primary-font-bold);
          font-size: 14rem;
          font-style: normal;
          line-height: 0.95;
          position: relative;

          .line:nth-of-type(2) .word:nth-of-type(2) {
            font-family: var(--heading-font-italic-bold);
          }

          .register {
            display: inline-block;
            position: absolute;
            bottom: 74px;
            right: 30px;
            font-size: 3rem;
            .char {
              padding-bottom: 0;
            }
          }
        }
      }

      .heroCopyrightBox {
        .copyrightText {
          font-family: var(--primary-font-medium);
          font-size: 1.8rem;
        }
      }
    }
  }
}
